nav {
    font-size: 20px;
    display: flex;
    margin: auto;
}

nav ul {
    list-style: none;
    margin: auto;
    display: flex;
    padding: 10px;
    height: 30px;
}

nav ul li a {
    height: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

#a1:focus {
    border-left: 5px solid rgb(0, 162, 255);
    transition: all ease-in 2s;
}

#a2:focus {
    border-left: 5px solid rgb(17, 0, 255);
    transition: all ease 2s;
}

#a3:focus {
    border-left: 5px solid rgb(7, 240, 19);
    transition: all ease-out 2s;
}
