/* line 6, ../sass/screen.scss */
#primero {
  padding: 20px;
}
/* line 8, ../sass/screen.scss */
#primero .destacado {
  color: #FF8000;
  font-size: 1.6rem;
  text-align: center;
  padding: 6px;
}

/* line 16, ../sass/screen.scss */
#segundo {
  padding: 20px;
}
/* line 19, ../sass/screen.scss */
#segundo .destacado {
  color: #2E5F64;
  font-size: 1.4rem;
  text-decoration: underline;
  padding: 5px;
}
/* line 26, ../sass/screen.scss */
#segundo p:not(.destacado)::first-line {
  font-style: italic;
}

/* line 31, ../sass/screen.scss */
#parrafos {
  text-align: right;
}
